{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "graphql-js-client-transform",
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}