/* Font-weight: 900 / Italic */

/* @font-face {
  font-family: 'Azo Sans Bk';
  src: url('../../fonts/AzoSans-BlackItalic.eot');
  src: local('Azo Sans Black Italic'), local('AzoSans-BlackItalic'),
    url('../../fonts/AzoSans-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/AzoSans-BlackItalic.woff2') format('woff2'),
    url('../../fonts/AzoSans-BlackItalic.woff') format('woff'),
    url('../../fonts/AzoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
} */
