/* Font-weight: 900 / Italic */

/* @font-face {
  font-family: 'Azo Sans Bk';
  src: url('../../fonts/AzoSans-BlackItalic.eot');
  src: local('Azo Sans Black Italic'), local('AzoSans-BlackItalic'),
    url('../../fonts/AzoSans-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/AzoSans-BlackItalic.woff2') format('woff2'),
    url('../../fonts/AzoSans-BlackItalic.woff') format('woff'),
    url('../../fonts/AzoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
} */

@font-face {
  font-family: 'francesco-italic';
  src: url('../../static/fonts/francesco/francescoweb-italic.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/francesco/francescoweb-italic.woff') format('woff');
}
@font-face {
  font-family: 'francesco-regular';
  src: url('../../static/fonts/francesco/francescoweb-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/francesco/francescoweb-regular.woff') format('woff');
}

@font-face {
  font-family: 'protogrotesk-regular';
  src: url('../../static/fonts/proto-grotesk/protogroteskweb-regular.eot');
  src: url('../../static/fonts/proto-grotesk/protogroteskweb-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/proto-grotesk/protogroteskweb-regular.woff')
      format('woff');
}
