/* Font-weight: 900 / Italic */

/* @font-face {
  font-family: 'Azo Sans Bk';
  src: url('../../fonts/AzoSans-BlackItalic.eot');
  src: local('Azo Sans Black Italic'), local('AzoSans-BlackItalic'),
    url('../../fonts/AzoSans-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/AzoSans-BlackItalic.woff2') format('woff2'),
    url('../../fonts/AzoSans-BlackItalic.woff') format('woff'),
    url('../../fonts/AzoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
} */

@font-face {
  font-family: 'francesco-italic';
  src: url('../../fonts/francescoweb-italic-TRIAL.eot');
  src: url('../../fonts/francescoweb-italic-TRIAL.eot?#iefix')
    format('embedded-opentype');
}
@font-face {
  font-family: 'francesco-regular';
  src: url('../../fonts/francescoweb-regular-TRIAL.eot');
  src: url('../../fonts/francescoweb-regular-TRIAL.eot?#iefix')
    format('embedded-opentype');
}

@font-face {
  font-family: 'protogrotesk-bold';
  src: url('../../fonts/protogroteskweb-bold-TRIAL.eot');
  src: url('../../fonts/protogroteskweb-bold-TRIAL.eot?#iefix')
    format('embedded-opentype');
}
@font-face {
  font-family: 'protogrotesk-extralight';
  src: url('../../fonts/protogroteskweb-extralight-TRIAL.eot');
  src: url('../../fonts/protogroteskweb-extralight-TRIAL.eot?#iefix')
    format('embedded-opentype');
}
@font-face {
  font-family: 'protogrotesk-light';
  src: url('../../fonts/protogroteskweb-light-TRIAL.eot');
  src: url('../../fonts/protogroteskweb-light-TRIAL.eot?#iefix')
    format('embedded-opentype');
}
@font-face {
  font-family: 'protogrotesk-regular';
  src: url('../../fonts/protogroteskweb-regular-TRIAL.eot');
  src: url('../../fonts/protogroteskweb-regular-TRIAL.eot?#iefix')
    format('embedded-opentype');
}
